:root {
  --main-header-font-size: 15px;
  --main-footer-font-size: 16px;
  --main-header-mobile-font-size: 18px;
  --main-services-title-font-size: 22px;
  --main-title-font-weight: 700;
  --main-text-font-weight: 500;
  --main-services-text-line-height: 26px;
  --main-color: #3a3054;
  --main-link-background-color: #2bd0d0;
  --main-link-color: #fff;
  --main-text-color: #9e9aa8;
  --main-title-color: #34313d;
}